<p><img border="0" src="index.1.jpg"></p>
<div style="position: absolute; left: 26px; top: 21px">
	<img border="0" src="logo.png" width="479" height="94"></div>
<p><img border="0" src="index.4.jpg"></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><img border="0" src="index.3.jpg"></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<%= form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <%= oauth_login_button :value => "Login", :class => 'linkedin' %>
<% end %>